.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.056);
  border-radius: 1rem;
  min-width: 15rem;
  max-width: 15rem;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
  align-items: center;
  background-color: #ffffff1b;
}

.subscribe__button {
  background-color: #278e8cd7;
  color: #f8f5f2;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 60%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.subscribe__button:hover {
  cursor: pointer;
  filter: brightness(105%);
}

.subscribe__text-input {
  padding: 0.5rem;
  max-width: 80%;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #278e8cd7;
  font-size: 0.7rem;
}

.subscribe__text-input:hover {
  cursor: text;
  filter: brightness(105%);
}

.subscribe__heading {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.subscribe__heading > h1 {
  font-size: 1.8rem;
}

.subscribe__heading > h2 {
  margin-top: 0.2rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.subscribe__container > p {
  text-align: center;
  font-size: 0.8rem;
}

.subscribe__container > p > a {
  background-color: rgba(255, 255, 255, 0.659);
  border-radius: 20rem;
  margin-left: 0.1rem;
  color: #278e8cd7;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
}

.subscribe__container > p > a:hover {
  background-color: rgba(255, 255, 255, 0.686);
  filter: brightness(105%);
}
