* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: #f8f5f2;
  /* overflow-x: hidden; */
}

.app__container {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: 80vw;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 4rem;
  height: 100%;
}

.App {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

A {
  text-decoration: none;
}

.page-not-found {
  height: 30rem;
}
