.blog__article-header {
  margin-bottom: 1.2rem;
}

.blog__article-header-category {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: hsl(210, 91%, 22%);
}

.blog__article-header-category:hover {
  cursor: pointer;
  filter: brightness(125%);
}

.blog__article-header-title {
  font-size: 2.5rem;
  line-height: 3rem;
}

.blog__article-header-date {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.blog__content-article {
  align-self: center;
  width: 90%;
  margin-top: 0.5rem;
  max-width: 64ch;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
}

.blog__content-article > p {
}

.blog__content-article > h1 {
}

.blog__content-article > h2 {
}
.blog__content-article > h3 {
}
.blog__content-article > h4 {
}
.blog__content-article > h5 {
}
.blog__content-article > h6 {
}
.blog__content-article > ol {
}
.blog__content-article > ul {
}
.blog__content-article > li {
}
.blog__content-article > a {
}

.blog__article-like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.blog__article-like-icon {
  width: 1rem;
  stroke-width: 1.5;
  stroke: #000000aa;
  fill: #f8f5f2;
}

.blog__article-like-icon:hover {
  cursor: pointer;
  fill: #ff0000;
}

.blog__article-like-icon-liked {
  width: 1rem;
  stroke-width: 1.5;
  stroke: #000000aa;
  fill: #ff0000;
}

.blog__article-like-icon-liked:hover {
  cursor: pointer;
  fill: #f8f5f2;
}

.blog__article-like-span {
  margin-left: 0.2rem;
  line-height: 1rem;
  font-weight: 600;
}

.blog__comment-section {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.111);
}

.blog__comment-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}

.blog__comment-form > label {
  margin-bottom: 0.4rem;
  font-weight: 500;
  font-size: 0.875em;
}

.blog__comment-form > label > input {
  margin-left: 1.5rem;
  width: 80%;
  padding: 0.2rem;
  border: 1px solid rgba(203, 209, 210, 0.529) !important;
  border-radius: 0.1rem;
  font-size: 0.875em;
}

.blog__comment-form > :nth-child(1) {
  margin-top: 0.2rem;
}

.blog__comment-form-header {
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.111);
}
