.blog__container {
  width: 100%;
}

.blog__container > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__article-list-container {
  padding-bottom: 0.8rem;
  min-width: 230px;
}

.blog__article-list {
  color: #333333;
  width: 90%;
}

.blog__article-list > h1 {
  font-size: 1.35rem;
  margin-top: 1rem;
  font-weight: 700;
}

.blog__article-list > h1:first-child {
  margin-top: 0.5rem;
}

.blog__article-list > div {
  margin-top: 0.4rem;
}

.blog__article-list-item {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.blog__article-list-item > p {
  margin-right: 2.4rem;
  font-weight: lighter;
}

.blog__article-list-item > a {
  font-weight: bold;
  color: #278e8c;
}

.blog__article-list-item > a:hover {
  filter: brightness(125%);
}

.blog__article-list-filters {
  display: flex;
  flex-direction: row;
  color: #05386b;
  width: 90%;
  border-bottom: 1px solid #3333332a;
  padding-bottom: 0.5rem;
}

.blog__article-list-filters > p {
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: underline;
}

.blog__article-list-filters > p:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.blog__content-container {
  width: 90%;
  min-width: 230px;
}

.blog__content-container > a {
  width: 90%;
  color: #05386b;
  border-bottom: 1px solid #3333332a;
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: underline;
  max-width: 80ch;
  align-self: center;
  margin-left: 1%;
}

.blog__content-container > a:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.blog__content-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.6rem;
  align-items: flex-end;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.selected {
  color: #278e8d;
}

.blog__content-toggle-tag {
  margin-right: 0.3rem;
}

.blog__content-toggle-tag:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.727);
}

.selected:hover {
  cursor: auto;
  color: #278e8d;
}

.blog__content-toggle > div {
  margin-left: 0.3rem;
  display: flex;
  flex-direction: row;
}

.blog__content-toggle-counter {
  border-radius: 0.2rem;
  padding: 0.15rem 0.35rem;
  background-color: #278e8d;
  color: white;
  font-size: 0.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.blog__article-content-writing {
  margin-top: 0.5rem;
  height: 100%;
}

.blog__comment {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0.9rem 0.5rem;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  background-color: rgba(240, 237, 237, 0.645);
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.015);
}

.blog__comment-collapse {
  margin-right: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #278e8cd7;
}

.blog__comment-collapse:hover {
  cursor: pointer;
}

.blog__comment-main > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.2rem;
}

.blog__comment-author {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.blog__comment-timestamp {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.85);
}

.blog__comment-content {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.85);
}

.blog__comment-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
}

.quill {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid rgba(203, 209, 210, 0.529) !important;
  border-radius: 0.1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.25rem;
}

.ql-snow {
  border: none !important;
}

.ql-toolbar {
  background-color: white;
  height: auto !important;
  padding: 0rem !important;
  padding-left: 0.3rem !important;
  border: none !important;
  width: 100%;
}

.ql-formats {
  margin: 0 !important;
  padding: 0.1rem 0 !important;
}

.ql-formats > button {
  color: rgb(203, 209, 210) !important;
  cursor: pointer;
}

.ql-formats > button > svg {
  height: 0.7rem !important;
  color: rgb(203, 209, 210) !important;
  stroke: rgb(203, 209, 210) !important;
}

.ql-container {
  width: 100%;
  height: 5rem !important;
  background-color: white;
  padding: 0 !important;
}

.ql-editor {
  padding: 0.1rem 0rem !important;
  display: flex;
  flex-direction: column;
}

.ql-editor.ql-blank::before {
  position: absolute !important;
  padding-top: 0.3rem;
  padding-left: 0.5rem !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 0.875em;
  color: rgb(157, 160, 160) !important;
}

.ql-editor > p {
  padding-top: 0.3rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.6rem !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.85) !important;
  height: auto !important;
}

.blog__post-comment-button {
  width: 100%;
  background-color: #278e8c;
  color: #f8f5f2 !important;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3rem 0;
  margin-bottom: 0.6rem;
}

.blog__post-comment-button:hover {
  cursor: pointer;
  background-color: #278e8cd7;
}

.blog__article-header {
  margin-bottom: 1.2rem;
}

.blog__article-header-category {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: hsl(210, 91%, 22%);
}

.blog__article-header-category:hover {
  cursor: pointer;
  filter: brightness(125%);
}

.blog__article-header-title {
  font-size: 2.5rem;
  line-height: 3rem;
}

.blog__article-header-date {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.blog__content-article {
  align-self: center;
  width: 90%;
  margin-top: 0.5rem;
  max-width: 64ch;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
}

.blog__content-article > p {
}

.blog__content-article > h1 {
}

.blog__content-article > h2 {
}
.blog__content-article > h3 {
}
.blog__content-article > h4 {
}
.blog__content-article > h5 {
}
.blog__content-article > h6 {
}
.blog__content-article > ol {
}
.blog__content-article > ul {
}
.blog__content-article > li {
}
.blog__content-article > a {
}

.blog__article-like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.blog__article-like-icon {
  width: 1rem;
  stroke-width: 1.5;
  stroke: #000000aa;
  fill: #f8f5f2;
}

.blog__article-like-icon:hover {
  cursor: pointer;
  fill: #ff0000;
}

.blog__article-like-icon-liked {
  width: 1rem;
  stroke-width: 1.5;
  stroke: #000000aa;
  fill: #ff0000;
}

.blog__article-like-icon-liked:hover {
  cursor: pointer;
  fill: #f8f5f2;
}

.blog__article-like-span {
  margin-left: 0.2rem;
  line-height: 1rem;
  font-weight: 600;
}

.blog__comment-section {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.111);
}

.blog__comment-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}

.blog__comment-form > label {
  margin-bottom: 0.4rem;
  font-weight: 500;
  font-size: 0.875em;
}

.blog__comment-form > label > input {
  margin-left: 1.5rem;
  width: 80%;
  padding: 0.2rem;
  border: 1px solid rgba(203, 209, 210, 0.529) !important;
  border-radius: 0.1rem;
  font-size: 0.875em;
}

.blog__comment-form > :nth-child(1) {
  margin-top: 0.2rem;
}

.blog__comment-form-header {
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.111);
}
