.blog__container {
  width: 100%;
  height: 50rem;
}

.blog__container > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__article-list-container {
  padding-bottom: 0.8rem;
  min-width: 230px;
}

.blog__article-list {
  color: #333333;
  width: 90%;
}

.blog__article-list > h1 {
  font-size: 1.35rem;
  margin-top: 1rem;
  font-weight: 700;
}

.blog__article-list > h1:first-child {
  margin-top: 0.5rem;
}

.blog__article-list > div {
  margin-top: 0.4rem;
}

.blog__article-list-item {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.blog__article-list-item > p {
  margin-right: 2.4rem;
  font-weight: lighter;
}

.blog__article-list-item > a {
  font-weight: bold;
  color: #278e8c;
}

.blog__article-list-item > a:hover {
  filter: brightness(125%);
}

.blog__article-list-filters {
  display: flex;
  flex-direction: row;
  color: #05386b;
  width: 90%;
  border-bottom: 1px solid #3333332a;
  padding-bottom: 0.5rem;
}

.blog__article-list-filters > p {
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: underline;
}

.blog__article-list-filters > p:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.blog__content-container {
  width: 90%;
  min-width: 230px;
}

.blog__content-container > a {
  width: 90%;
  color: #05386b;
  border-bottom: 1px solid #3333332a;
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: underline;
}

.blog__content-container > a:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.blog__content-article {
  width: 90%;
  margin-top: 0.5rem;
}

.blog__article-content-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog__article-content-blurb {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 0.2rem;
  color: rgba(0, 0, 0, 0.796);
}

.blog__article-content-date {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 0.6rem;
}

.blog__content-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.6rem;
  align-items: end;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.selected {
  color: #278e8d;
}

.blog__content-toggle-tag {
  margin-right: 0.3rem;
}

.blog__content-toggle-tag:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.727);
}

.selected:hover {
  cursor: auto;
  color: #278e8d;
}

.blog__content-toggle > div {
  margin-left: 0.3rem;
  display: flex;
  flex-direction: row;
}

.blog__content-toggle-counter {
  border-radius: 0.2rem;
  padding: 0.15rem 0.35rem;
  background-color: #278e8d;
  color: white;
  font-size: 0.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.blog__article-content-writing {
  margin-top: 0.5rem;
  height: 100%;
}

.blog__comment {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.111);
  padding-bottom: 0.7rem;
  padding-top: 0.3rem;
}

.blog__comment-collapse {
  margin-right: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #278e8cd7;
}

.blog__comment-collapse:hover {
  cursor: pointer;
}

.blog__comment-main > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.2rem;
}

.blog__comment-author {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.blog__comment-timestamp {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.85);
}

.blog__comment-content {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.85);
}

.blog__comment-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
}

.quill {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid rgb(203, 209, 210) !important;
  border-radius: 0.1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.25rem;
}

.ql-snow {
  border: none !important;
}

.ql-toolbar {
  background-color: white;
  height: auto !important;
  padding: 0rem !important;
  padding-left: 0.3rem !important;
  border: none !important;
  width: 100%;
}

.ql-formats {
  margin: 0 !important;
  padding: 0.1rem 0 !important;
}

.ql-formats > button {
  color: rgb(203, 209, 210) !important;
  cursor: pointer;
}

.ql-formats > button > svg {
  height: 0.7rem !important;
  color: rgb(203, 209, 210) !important;
  stroke: rgb(203, 209, 210) !important;
}

.ql-container {
  width: 100%;
  height: 5rem !important;
  background-color: white;
  padding: 0 !important;
}

.ql-editor {
  padding: 0.1rem 0rem !important;
  display: flex;
  flex-direction: column;
}

.ql-editor.ql-blank::before {
  position: absolute !important;
  padding-top: 0.3rem;
  padding-left: 0.5rem !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 0.7rem;
  color: rgb(157, 160, 160) !important;
}

.ql-editor > p {
  padding-top: 0.3rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.6rem !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.85) !important;
  height: auto !important;
}

.blog__post-comment-button {
  width: 100%;
  background-color: #278e8c;
  color: #f8f5f2 !important;
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2rem 0;
  margin-bottom: 0.6rem;
}

.blog__post-comment-button:hover {
  cursor: pointer;
  background-color: #278e8cd7;
}

.blog__opinion {
  display: flex;
  flex-direction: column;

  height: auto;
}

.blog__opinion-top {
  height: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0.1rem;
}

.blog__opinion-top-line {
  background-color: rgb(207, 217, 222);
  width: 2px;
  margin-left: 1.2rem;
}

.blog__opinion-bottom {
  display: flex;
  flex-direction: row;
}

.blog__opinion-bottom-left {
  padding: 0rem 0.4rem 0 0.1rem;
  display: flex;
  flex-direction: column;
}

.blog__opinion-bottom-left > img {
  width: 2.2rem;
  border: 3px solid #f8f5f2;
}

.blog__opinion-bottom-line {
  background-color: rgb(207, 217, 222);
  width: 2px;
  height: 100%;
  margin-left: 1.2rem;
}

.blog__opinion-bottom-right {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.blog__opinion-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1px;
  align-items: center;
}

.blog__opinion-data {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.blog__opinion-post-author {
  margin-right: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.blog__opinion-post-date {
  font-size: 0.6rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.85);
}

.blog__opinion-post-count {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.33);
}

.blog__opinion-content {
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  /* line-height: 20px; */
  size: 15px;
}

.mgmtBtn {
  background-color: #d4e0e295;
  padding: 0.3rem;
  margin-right: 0.9rem;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.823);
}

.mgmtBtn:hover {
  background-color: #278e8c75;
  cursor: pointer;
}

.blog__create-blog {
  width: 747px;
}

.blog__create-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 100%;
}

.blog__create-container > label {
  margin-bottom: 1rem;
}
