.navbar {
  display: flex;
  justify-content: center;
  z-index: 1000;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid rgb(242, 242, 242);
  background-color: white;
  position: fixed;
}

.navbar__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 65rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-icon {
  padding-top: 0.1rem;
  width: 85px;
}

.navbar__logo-icon:hover {
  cursor: pointer;
}

.navbar__logo-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.navbar__logo-title:hover {
  color: #0f396a;
  cursor: pointer;
}

.navbar_nav-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__navitem {
  font-size: 0.9rem;
  padding: 0.6rem 0.9rem;
  border-radius: 5px;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navbar__navitem:hover {
  background-color: #d4e0e285;
  cursor: pointer;
}

.navbar__navitem-highlight {
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  line-height: normal;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #9eb7a7;
  text-decoration: none;
}

.navbar__navitem:visited {
  text-decoration: none;
  color: black;
}

.subscribeBtn {
  background-color: #d4e0e295;
}

.subscribeBtn:hover {
  background-color: #278e8c75;
}

.navbar__caret {
  width: 0;
  margin-top: 3px;
  margin-left: 3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(0, 0, 0);
}

.navbar__caret-highlight {
  width: 0;
  margin-top: 3px;
  margin-left: 3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #9eb7a7;
}

.navbar__drop-down-menu {
  list-style-type: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 160px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute;
  margin-top: 1rem;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.96);
}

.navbar__drop-down-menu > li:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.navbar__drop-down-item {
  font-size: 0.85rem;
  color: #545353;
  padding: 3px 20px;
  text-transform: uppercase;
  line-height: 23px;
}

.navbar__drop-down-item:link {
  text-decoration: none;
}

.navbar__drop-down-item:visited {
  text-decoration: none;
}

/* @media (max-width: 575px) {
  .navbar__contents {
    position: relative;
  }
  .navbar_nav-item-container {
    position: absolute;
    top: 8rem;
    right: -1rem;
    flex-direction: column;
  }
} */
